<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PharmHelper</title>
    <link rel="stylesheet" href="/stylesheets/servico.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
          <link rel="icon" href="/images/logo/bar.png" type="image/png" style="width: 10px; height: 15px;">
</head>

<body>

<header>
    <!--- Navbar --->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand text-white" href="../../index.html"><img src="../../images/logo/bar.png"
                                                                            style="height : 20px"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                    aria-controls="nvbCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nvbCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="../../index.html"><i class="fa fa-home fa-fw mr-1"></i>Início</a>
                    </li>
                    <li class="nav-item  pl-1">
                        <a class="nav-link" href="sobrenos.html"><i class="fa fa-th-list fa-fw mr-1"></i>Sobre Nós</a>
                    </li>
               
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="../produtos/produto.html"><i
                                    class="fa fa-info-circle fa-fw mr-1"></i>Produto</a>
                          
                  
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="../servicos/servico.html"><i
                                class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>Serviço</a>
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="comunidade.html"><i class="fa fa-user-plus fa-fw mr-1"></i>Comunidade</a>
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="../forms/registar.html"><i class="fa fa-address-card fa-fw mr-1"></i>Registo</a>
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="../loja/shop.html"><i class="fas fa-shopping-cart"></i>Shop</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--# Navbar #-->
</header>
</section>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Produtos</div>
                <div class="card-body">
                    <img class="img-fluid" src="../../images/fertilizanteliquido.jpeg.png"/>
                    <h5 class="card-title">Fertilizante líquido Compo Plantas verdes</h5>
                    <p class="card-text">Este fertilizante para plantas verdes Compo é um fertilizante mineral com itens
                        orgânicos ideal para greens, plantas adaptáveis ​​em ambientes fechados ou terraço. Este
                        fertilizante facilita a absorção de nutrientes, retém água e estimula o desenvolvimento da
                        planta. Contém húmus líquido que fortalece e revigora o vegetais de folhas verdes e algas
                        extrato Vitanica ® favorece a vitalidade da planta. Graças a este produto as suas plantas estão
                        protegidos contra pragas e doenças.</p>
                    <p class="bloc_left_price">99.00 $</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer>
    <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-light text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">AgriArea</h5>
                            <p class="d-inline lead">AgriArea © 2020<br>
                                <a href="#" class="text-light d-block lead">Site</a>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px"></h5>
                            <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i
                                    class="fa fa-phone mr-2"></i>+351 000000000</a>
                            <a class="text-light d-block lead" href="agriarea@gmail.com"><i
                                    class="fa fa-envelope mr-2"></i>agriarea@gmail.com</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px"></h5>

                            <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>

                            <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>

                            <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>

                            <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>

