<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PharmHelper</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../js/extras/chabot.js"></script>
    <script src="/js/listarServicos.js"></script>
    <script src="/js/dropServices.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Quicksand&display=swap'>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <link rel="icon" href="/images/logo/bar.png" type="image/png" style="width: 10px; height: 15px;">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>

<header>
    <!--- Navbar --->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand text-white" href="../../index.html"><img src="../../images/logo/bar.png"
                                                                            style="height : 20px"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                    aria-controls="nvbCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nvbCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="../../index.html"><i class="fa fa-home fa-fw mr-1"></i>Início</a>
                    </li>
                    <li class="nav-item  pl-1">
                        <a class="nav-link" href="../extras/sobrenos.html"><i class="fa fa-th-list fa-fw mr-1"></i>Sobre
                            Nós</a>
                    </li>
                    
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="../produtos/produto.html"><i
                                    class="fa fa-info-circle fa-fw mr-1"></i>Produto</a>
                   
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="../servicos/servico.html"><i
                                class="fa fa-phone fa-fw fa-rotate-180 mr-1"></i>Serviço</a>
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="../extras/comunidade.html"><i class="fa fa-user-plus fa-fw mr-1"></i>Comunidade</a>
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="../forms/registar.html"><i class="fa fa-address-card fa-fw mr-1"></i>Registo</a>
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="shop.html"><i class="fa fa-address-card fa-fw mr-1"></i>Shop</a>
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="shop.html"><i class="fas fa-shopping-cart"></i>Shop</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--# Navbar #-->
</header>

<section
        class="productDetailsContentTop naranjaTradPotasicos colorTag-h2-naranjaTradPotasicos colorTag-a-grisDefault colorTag-a--hover--nochange-naranjaTradPotasicos bckgrndTag-li-bfr-naranjaTradPotasicos"
        style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 center  ">
                <img src="images/fertilizanteliquido.jpeg.png" alt="">

            </div>

            <div class="col-xs-12 col-sm-8 col-md-8 productContentInside">

                <h2>Fertilizante líquido Compo Plantas verdes</h2>
                <h2 class="light subtitleStyle"></h2>
                <h3 style="display: none;">AgriArea Fertilizante</h3>
                <span class="clearer marginb40"></span>
                <p>A nova e exclusiva linha de fertilizantes <strong>AgriArea</strong> é fabricada com a Tecnologia
                    AntiOX, um regulador seletivo da circulação de nutrientes ao nível do xilema que aumenta o teor de
                    antioxidantes nas plantas, tornando as culturas mais eficientes e com maior rentabilidade.&nbsp;</p>
                <p><strong>O que é a tecnologia AntiOX?</strong></p>
                <p>A tecnologia Anti-Ox baseia-se num complexo ativado de minerais siliciosos que aumentam o teor de
                    antioxidantes nas plantas. A Tecnologia AntiOX ajuda a ultrapassar o stress oxidativo, reforça o
                    metabolismo vegetal que fica mais resistente aos stresses abióticos, e torna as culturas mais
                    produtivas.</p>
            </div>
        </div>
    </div>
</section>
</body>
<footer>
    <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-light text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">AgriArea</h5>
                            <p class="d-inline lead">AgriArea © 2020<br>
                                <a href="#" class="text-light d-block lead">Site</a>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px"></h5>
                            <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i
                                    class="fa fa-phone mr-2"></i>+351 000000000</a>
                            <a class="text-light d-block lead" href="agriarea@gmail.com"><i
                                    class="fa fa-envelope mr-2"></i>agriarea@gmail.com</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px"></h5>

                            <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>

                            <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>

                            <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>

                            <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>